<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
	<li><a id="block-user" href='#Block_user'>Block Other User</a></li>
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics <span class="caret"></span></a>
	  <ul class="dropdown-menu">
	      <li><h2 class="text-center">Users using Gravatars</h2></li>
	      <li><img class="dropdown-graph" src="/img/pie_chart.png"/></li>
	      <li><p class="text-center">FLAG: ABCDEFGHIJKLMNOPQRSTUVWXYZ</p></li>
	  </ul>
	</li>
	</ul>
  <p class="navbar-text navbar-right">Welcome Admin!</p>
</div><!-- /.navbar-collapse -->